body {
    margin: 0px;
}

#app {
    background: linear-gradient(to bottom, #4169e1, #040615);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #app form {
    margin-top: 25px;
} */

#left {
    margin-top: 20px;
    height: 80px;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.7rem;
    margin-top: 20px;
    color: #fff;
}

.input-group {
    width: 600px;
}

.form-control {
    height: 60px;
}

input[type="text"] {
    font-size:24px;
    color: black;
}


.btnDelete {
    font-size: 20px;
    padding: 3px;
    margin: 0px 25px;
}

@media (max-width: 768px) {
    .input-group {
        margin: 20px;
        width: 90%;
    }
    #button-addon2 {
        font-size: 1.2rem;
    }
}