body {
    margin: 0px;
}

#app {
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#app form {
    margin-top: 25px;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    margin-top: 25px;
}

.input-group {
    width: 600px;
}

.form-control {
    height: 60px;
    font-size: 1.5rem;
}

#button-addon2 {
    font-size: 1.5rem;
}

.btnDelete {
    padding: 2px;
    margin-left: 25px;
}

@media (max-width: 768px) {
    .input-group {
        width: 300px;
    }
    .form-control {
        height: 60px;
        font-size: 1.0rem;
    }
    #button-addon2 {
        font-size: 1.0rem;
    }
}