body {
    margin: 0px;
}

#app {
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
}

.input-group {
    width: 600px;
}

.form-control {
    height: 60px;
    font-size: 1.5rem;
}

#button-addon2 {
    font-size: 1.5rem;
}